.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.header-1 {
  font-size: 28px;
  text-transform: uppercase;
}

.header-2 {
  font-weight: 400;
  text-transform: uppercase;
}

.header-bold {
  font-weight: 700;
}

.skills-section {
  margin-left: 20.5rem;
  width: auto;
  margin-right: 3rem;
  height: 9rem;
  /* background-color: #fff; */
}