@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.side-menu {
  margin-right: 0;
  margin-left: -6.5rem;
}

.side-menu:hover {
  margin-right: -6.5rem;
  margin-left: 0;
  animation: heartBeat;
  animation-duration: 2s;
}

body {
  font-family: 'Poppins', sans-serif;
}

.avatar-wrapper {
  position: relative;
}

.avatar-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s, visibility .1s;
}

.avatar-wrapper:hover .avatar-text {
  visibility: visible;
  opacity: 1;
}